{% extends 'base.html' %}

{% block title %}Lista de Sorvetes{% endblock %}

{% block content %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Sabor</th>
      <th scope="col">Cobertura</th>
      <th scope="col">Tamanho</th>
    </tr>
  </thead>
  <tbody>
    {% for querys in query %}
    <tr>
      <td>{{ querys.sabor }}</td>
      <td>{{ querys.cobertura }}</td>
      <td>{{ querys.tamanho }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
